body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}

.header {
    line-height: 100px;
}

.header h1 {
    height: 50px;
    width: 60px;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul {
    gap: 60px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    /* .header .gnb>ul>li~li -형제 선택자만 해당 (.header .gnb>ul>li -형제, 나 모두 해당) */
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 1px;
    height: 12px;
    background: #ddd;
    transform: translate(0, -50%);
}

.mainVisual {
    position: relative;
    height: 500px;
    background: url(../img/main02.jpg) no-repeat center center/cover;
}

.mainVisual::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.mainVisual .inner {
    /* 팝업 공식
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .inner h2 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    /* text-indent: -4px; */
    margin: 0 0 10px 0;
}

.mainVisual .inner p {
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}

.mainContent {
    padding: 50px 0;
}

.mainContent h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 25px 0;
    text-align: center;
}

.mainContent p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 16px;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent figure {
    flex: 1;
}

.mainContent figure img {
    width: 100%;
}

figure {
    display: block;
}

.footer {
    padding: 50px 0;
    border-top: 1px solid #ddd;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    /* vertical-align: -1px; */
}

.footer .list .bold {
    font-weight: 500;
}